{% extends "admin/base.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>{{ form.hostname.value }}: {{ form.ipaddress.value }}</h2>

{% block content %}
	
<form action="/send_ip/send/" method="post"> {% csrf_token %}                                                                                                                              
      {{ form.as_p }}                                                                                                                                                            
    <input type="submit" value="Enviar" />                                                                                                                                      
</form>

{% endblock %}
